#########################################################
#
# Add all python packages that depend on C libraries and
# are available on conda here
#
#########################################################

# temporarily moving this here until 1.3.1 becomes available on pypi
# Add a binstar channel as follows to be able to install this via conda
# conda config --add channels https://conda.binstar.org/cdeepakroy
ctk-cli==1.3.1

# large_image requires numpy==1.10.2
numpy==1.10.2

# scikit-image / scipy / numpy have compatability bugs with some versions
# Do not change these versions without extensive testing
scikit-image==0.12.3
scipy==0.16.0